<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página de Prática</title>
    
    <link rel="stylesheet" href="css/login_usuario.css">
</head>
<body>

    <header class="barra-fixa">
        <nav>
            <button onclick="window.location.href='../index.php'">Início</button>
            <button onclick="window.location.href='sobre.html'">Sobre</button>
            <button onclick="window.location.href='contato.html'">Contato</button>
        </nav>
    </header>

    <main>
        <h1>Recuperacao de senha</h1>
        
        <div id="mensagem-alerta"></div>

        <form id="formContato">



            <label for="passCheck">Email:</label>
            <input type="email" id="new_passCheck" name="password" placeholder="Digite seu email">

            <button type="button" onclick="realizarCadastroUsuario()">Enviar</button>
        </form>
    </main>

    <script src="../js/login_usuario.js"></script>
</body>
</html>